@model ProfileViewModel

<div class="text-center">
	<img src="@Model.User.AvatarPath" alt="Avatar" class="profile-photo rounded-circle" height="150" />
	<h1>@Model.User.UserName</h1>
	<p>Reputation: @Model.User.Reputation </p>
	@if (Model.State == RequestState.ITS_YOU)
	{
		<p>
			<a class="text-decoration-none" asp-area="Game" asp-controller="Friends" asp-action="Top">
				<span class="text-decoration-underline">Click here</span> to view Your local rating
				</a>
		</p>
	}


	@if (Model.State == RequestState.NOTHING)
	{
		<form method="post" asp-area="Game" asp-controller="Friends" asp-action="AddFriend" asp-route-id="@Model.User.Id">
			<button class="btn btn-success" type="submit">Add to friends</button>
		</form>
	}
	else if (Model.State == RequestState.FRIENDS)
	{
		<button class="btn btn-danger" onclick="RemoveFriendAjax('@Model.User.Id')">Remove from friends</button>
	}
	else if (Model.State == RequestState.SENDED_FROM_THEM)
	{
		<p>@Model.User.UserName is sending you a friend request!</p>
		<div class="d-flex justify-content-center">
			<button class="btn btn-success" onclick="AcceptAjax('@Model.User.Id')">Accept</button>
			<button class="btn btn-danger" onclick="RejectAjax('@Model.User.Id')">Reject</button>
		</div>
	}
	else if (Model.State == RequestState.SENDED_FROM_YOU)
	{
		<p>You are sending a friend request to @Model.User.UserName!</p>
		<div class="d-flex justify-content-center">
			<button class="btn btn-danger" onclick="RecallAjax('@Model.User.Id')">Recall</button>
		</div>
	}
	@if (Model.State == RequestState.ITS_YOU)
	{		
		<div class="d-flex justify-content-center">
			<a class="btn btn-info" asp-area="Identity" asp-controller="Account" asp-action="Manage">Edit Profile</a>
		</div>
	}
</div>

<script src="~/js/profile.js"></script>