@model TopViewModel
<link rel="stylesheet" href="~/css/top.css" />

<div class="container rounded bg-dark p-3">
	<div class="row">
		<div class="col-2">
			Place
		</div>
		<div class="col-5">
			Username
		</div>
		<div class="col-3">
			Reputation
		</div>
	</div>
	@{
		var place = 1;
	}
	@foreach (var user in Model.Top)
	{
		@if (user.Id != Model.CurrentPlayer.Id)
		{
			<div class="row mb-2">
				<div class="col-2">
					@(place++)
				</div>
				<div class="col-5">
					<img class="rounded-circle" src="@user.AvatarPath" height="25" width="25" alt="@user.UserName avatar" />
					@user.UserName
				</div>
				<div class="col-3">
					@user.Reputation
				</div>
			</div>
		}

		else
		{
			<div class="isYou row mb-2">
				<div class="col-2">
					@(place++)
				</div>
				<div class="col-5">
					<img class="rounded-circle" src="@user.AvatarPath" height="25" width="25" alt="@user.UserName avatar" />
					@user.UserName (YOU)
				</div>
				<div class="col-3">
					@user.Reputation
				</div>
			</div>
		}
	}

</div>
